@import '../../app/App.scss';

.cardsBlock {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 352px);
  grid-column-gap: 32px;
  grid-row-gap: 40px;
  justify-content: center;
}